@use "../../variables.scss" as *;

#home-page {
	display: block;
	position: absolute;
	top: 0;
    bottom: 0;
    width: 100%;
    max-width: 600px;
	background-color: white;
	margin-top: $header-size;
	margin-bottom: $footer-size;

	.header {
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px;

		.time {
			font-size: 18px;
		}

		.today {
			display: flex;
			justify-content: center;
			align-items: center;

			.header-button {
				height: 48px;
			}

			.counter {
				font-size: 48px;
				color: $font-blue;
				padding-left: 8px;
			}
		}
	}

	.container {
		position: absolute;
		top: 60px;
		bottom: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;

		.big-button {
			padding: 36px;
			border: 1px solid lightgray;
			border-radius: 50%;
			box-shadow: 4px 4px 4px 0px #91aece;
			cursor: pointer;
			max-height: 50%;
		}
	}
}