#notification-section .notification-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
}

#notification-section .notification-list .notification {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #e6f7ff;
    border: 1px solid #1890ff;
    border-radius: 6px;
    margin: 6px 0;
    position: relative;
}

#notification-section .notification-list .notification .info {
    display: flex;
    flex-direction: column;
}

#notification-section .notification-list .notification .btn-remove {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #ff4d4f;
    color: white;
    border: 1px solid white;
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#notification-section .notification-list .notification .user {
    font-size: 18px;
    font-weight: bold;
}

#notification-section .notification-list .notification .time {
    font-size: 18px;
    color: #1890ff;
}

#notification-section .no-data {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
}