@use "../../variables.scss" as *;

#notification-page {
	display: block;
	position: absolute;
	top: 0;
    bottom: 0;
    width: 100%;
    max-width: 600px;
	background-color: white;
	margin-top: $header-size;
	margin-bottom: $footer-size;

	.notification-list {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 24px;

		.notification {
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 12px 12px;
			background-color: #e6f7ff;
			border: 1px solid $base-color;
			border-radius: 6px;
			margin: 6px 0;
			position: relative;

			.name {
				font-size: 18px;
			}

			.info {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				width: 30%;

				.water { 
					img {
						height: 28px;
					}

					span {
						font-size: 14px;
						font-weight: bold;
					}
				}

				.time {
					font-size: 10px;
					color: #1890ff;
				}
			}

			.btn-remove {
				position: absolute;
				top: -8px;
				right: -8px;
				font-size: 12px;
				border-radius: 50%;
				background-color: $danger-color;
				color: white;
				border: 1px solid white;
				padding: 0 6px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}
		}
	}

	.no-data {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding-top: 24px;
	}
}
