@use "./variables.scss" as *;

#app-container, #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#app-container {
    padding-left: $side-width;
}