@use "../../variables.scss" as *;

#users-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .title {
        color: $base-color;
        font-size: 32px;
        padding: 24px;
    }

    .results {
        width: 90%;

        .result-table {
            .actions {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .admin-btn {
                    color: $font-blue;
                    font-size: 18px;
                    cursor: pointer;

                    &.selected {
                        color: $base-color;
                    }
    
                }
                .delete-btn {
                    color: $danger-color;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
}