@use "../../variables.scss" as *;

#users-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .title {
        color: $base-color;
        font-size: 32px;
        padding: 24px;
    }
}