#AppFooter {
    position: fixed;
    width: inherit;
    max-width: 600px;
    bottom: 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
    background-color: white;
}

#AppHeader {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    max-width: 600px;
    height: 60px;
    background-color: white;

    .section-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100%;
        cursor: pointer;

        .anticon {
            font-size: 20px;
            color: $base-color;
        }

        &.selected {
            background-color: $base-color;

            .anticon {
                color: white;
            }
        }
    }
}