#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

#home-page .footer {
    position: absolute;
    align-self: flex-end;
    bottom: 24px;
    right: 24px;
}

#home-page .header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#home-page .header .section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    width: 33%;
}

#home-page .header .section-header.selected {
    color: #1890ff;
    background-color: #e6f7ff;
}