/*-- CONTAINER --*/
#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 48px;
}

/*-- FOOTER --*/
#home-page .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
    background-color: #1890ff;
}

/*-- HEADER --*/
#home-page .header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
}

#home-page .header .section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    cursor: pointer;
}

#home-page .header .section-header.selected {
    background-color: #1890ff;
}

#home-page .header .section-header .anticon {
    font-size: 20px;
}

#home-page .header .section-header.selected .anticon {
    color: white;
}

/*-- SECTIONS --*/
#home-page .section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-page .section .notification-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
}

#home-page .section .notification-list .notification {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #e6f7ff;
    border: 1px solid #1890ff;
    border-radius: 6px;
    margin: 6px 0;
}