/*-- CONTAINER --*/
#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: inherit;
    position: relative;
    padding-top: 60px;
    padding-bottom: 48px;
}

/*-- FOOTER --*/
#home-page .footer {
    position: fixed;
    width: inherit;
    max-width: 600px;
    bottom: 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
    background-color: white;
}

/*-- HEADER --*/
#home-page .header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    max-width: 600px;
    height: 60px;
    background-color: white;
}

#home-page .header .section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    cursor: pointer;
}

#home-page .header .section-header.selected {
    background-color: #1890ff;
}

#home-page .header .section-header .anticon {
    font-size: 20px;
    color: #1890ff;
}

#home-page .header .section-header.selected .anticon {
    color: white;
}

/*-- SECTIONS --*/
#home-page .section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-page .section .notification-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
}

#home-page .section .notification-list .notification {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #e6f7ff;
    border: 1px solid #1890ff;
    border-radius: 6px;
    margin: 6px 0;
    position: relative;
}

#home-page .section .notification-list .notification .info {
    display: flex;
    flex-direction: column;
}

#home-page .section .notification-list .notification .btn-remove {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #ff4d4f;
    color: white;
    border: 1px solid white;
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#home-page .section .notification-list .notification .user {
    font-size: 18px;
    font-weight: bold;
}

#home-page .section .notification-list .notification .time {
    font-size: 18px;
    color: #1890ff;
}

#home-page .section .no-data {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
}

#home-page .search-section {
    justify-content: flex-start;
}

#home-page .section .search-bar {
    position: relative;
    margin: 12px 0;
}

#home-page .section .search-bar .results {
    position: absolute;
    width: 100%;
}

#home-page .section .search-bar .results .item {
    padding: 6px 12px;
    margin-right: 1px;
    border: 1px solid lightgrey;
    border-top: none;
    cursor: pointer;
    background-color: white;
}