/*-- CONTAINER --*/
#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 48px;
}

/*-- FOOTER --*/
#home-page .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 12px;
}

/*-- HEADER --*/
#home-page .header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#home-page .header .section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    cursor: pointer;
    height: 60px;
}

#home-page .header .section-header.selected {
    background-color: #1890ff;
}

#home-page .header .section-header .anticon {
    font-size: 20px;
}

#home-page .header .section-header.selected .anticon {
    color: white;
}

/*-- SECTIONS --*/
#home-page .section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}