/*-- LOGIN PAGE --*/
#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .login-form {
        max-width: 300px;
    }

    .ant-form-item-control-input-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/*-- REGISTER PAGE --*/
#register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .register-form {
        max-width: 300px;
    }

    .ant-form-item-control-input-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}