@import "../variables.scss";

/*-- CONTAINER --*/
#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: inherit;
    position: relative;
    padding-top: 60px;
    padding-bottom: 48px;

    .footer {
        position: fixed;
        width: inherit;
        max-width: 600px;
        bottom: 0;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0 12px;
        background-color: white;
    }

    .header {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: inherit;
        max-width: 600px;
        height: 60px;
        background-color: white;

        .section-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 100%;
            cursor: pointer;

            .anticon {
                font-size: 20px;
                color: $base-color;
            }

            &.selected {
                background-color: $base-color;

                .anticon {
                    color: white;
                }
            }
        }
    }

    .section {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}