@import '../variables.scss';

#search-section {
    justify-content: flex-start !important;

    .search-bar {
        position: relative;
        margin: 12px 0;

        .results {
            position: absolute;
            width: 100%;

            .item {
                padding: 6px 12px;
                margin-right: 1px;
                border: 1px solid lightgrey;
                border-top: none;
                cursor: pointer;
                background-color: white;
            }
        }
    }

    .results-list {
        margin-top: 12px;
        display: flex;
        width: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item {
        display: flex;
        align-items: center;
        width: 80%;
        padding: 12px 24px;
        background-color: #e6f7ff;
        border: 1px solid $base-color;
        border-radius: 6px;
        margin: 6px 0;

        img {
            height: 32px;
            border-radius: 50%;
            margin-right: 24px;
        }

        .right {
            margin-left: auto;

            .add-icon {
                color: $success-color;
                font-size: 24px;
                cursor: pointer;
            }

            .remove-icon {
                color: $danger-color;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }
}